Project Ramen Rating Analysis (Part Three)

In [64]:
# import libraries

In [65]:
import pandas as pd

In [66]:
df = pd.read_csv("The-Big_List_clean_extended.csv")

In [67]:
df

,Brand,Variety,Style,Country,Stars,isSpicy,hasChicken,hasBeef,hasSeafood
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0
...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0

In [68]:
# get value_counts of Brand

In [69]:
df["Brand"].value_counts()

Nissin               476
Maruchan             131
Nongshim             119
Myojo                111
Samyang Foods        102
                    ...
Ajinomoto              1
Q                      1
Shuang Ren Hsu         1
Mamee / Shinsegae      1
Eight Field            1
Name: Brand, Length: 542, dtype: int64

In [70]:
# preview the first 20 brands

In [71]:
top_thirty_brands = df["Brand"].value_counts()[:30].index

In [72]:
top_thirty_brands

Index(['Nissin', 'Maruchan', 'Nongshim', 'Myojo', 'Samyang Foods', 'Paldo',
       'Mama', 'Sapporo Ichiban', 'Indomie', 'Ottogi', 'Sau Tao', 'Acecook',
       'KOKA', 'Maggi', 'Vifon', 'MyKuali', 'Mamee', 'Lucky Me!',
       'Vina Acecook', 'MAMA', 'Ve Wong', 'Master Kong', 'JML', 'Wei Lih',
       'Vedan', 'A-Sha Dry Noodle', 'Wai Wai', 'Yum Yum', 'Wu-Mu', 'Itsuki'],
      dtype='object')

In [73]:
# As you go down the group the frequency of the brands decreases.
# We convert the rest of the brands to others.
# The objective here is to reduce the number of unique values.

In [74]:
# create a new column called newBrand

In [75]:
new_brand = []
for brand in df["Brand"]:
    if brand in top_thirty_brands:
        new_brand.append(brand)
    else :
        new_brand.append("other")
df["newBrand"] = new_brand
df

,Brand,Variety,Style,Country,Stars,isSpicy,hasChicken,hasBeef,hasSeafood,newBrand
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,other
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,other
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban
...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,other

In [76]:
df["newBrand"].value_counts()

other               1781
Nissin               476
Maruchan             131
Nongshim             119
Myojo                111
Samyang Foods        102
Paldo                 84
Mama                  71
Sapporo Ichiban       69
Indomie               56
Ottogi                50
Sau Tao               48
Acecook               48
KOKA                  39
Maggi                 38
Vifon                 36
MyKuali               35
Lucky Me!             34
Mamee                 34
Vina Acecook          34
MAMA                  33
Ve Wong               32
Master Kong           29
Vedan                 28
JML                   28
Wei Lih               28
Wai Wai               26
A-Sha Dry Noodle      26
Wu-Mu                 23
Yum Yum               23
Itsuki                20
Name: newBrand, dtype: int64

In [77]:
# examine style

In [78]:
top_four_styles = df["Style"].value_counts().index[:4]

In [79]:
# loop through style and create new style

In [80]:
new_style = []
for style in df["Style"]:
    if style in top_four_styles:
        new_style.append(style)
    else :
        new_style.append("other")
df["newstyle"] = new_style
df

,Brand,Variety,Style,Country,Stars,isSpicy,hasChicken,hasBeef,hasSeafood,newBrand,newstyle
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,other,Pack
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,other,Cup
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao,Pack
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao,Pack
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban,Cup
...,...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon,Bowl
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai,Pack
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai,Pack
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai,Pack
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,other,Pack

In [81]:
df["newstyle"].value_counts()

Pack     2085
Bowl      722
Cup       659
Tray      167
other      59
Name: newstyle, dtype: int64

In [82]:
top_ten_countries = df["Country"].value_counts()[:10].index

In [83]:
top_ten_countries

Index(['Japan', 'United States', 'South Korea', 'Taiwan', 'China', 'Thailand',
       'Malaysia', 'Hong Kong', 'Indonesia', 'Singapore'],
      dtype='object')

In [84]:
new_country = []
for country in df["Country"]:
    if country in top_ten_countries:
        new_country.append(country)
    else :
        new_country.append("other")
df["newcountry"] = new_country
df

,Brand,Variety,Style,Country,Stars,isSpicy,hasChicken,hasBeef,hasSeafood,newBrand,newstyle,newcountry
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,other,Pack,Japan
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,other,Cup,China
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao,Pack,Hong Kong
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao,Pack,Hong Kong
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban,Cup,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon,Bowl,other
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai,Pack,Thailand
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai,Pack,Thailand
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai,Pack,Thailand
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,other,Pack,United States

In [85]:
# We will now dummyfy our data

In [86]:
brand_dummy = pd.get_dummies(df["newBrand"], drop_first = True,
                            prefix ="from")
brand_dummy

,from_Acecook,from_Indomie,from_Itsuki,from_JML,from_KOKA,from_Lucky Me!,from_MAMA,from_Maggi,from_Mama,from_Mamee,...,from_Sau Tao,from_Ve Wong,from_Vedan,from_Vifon,from_Vina Acecook,from_Wai Wai,from_Wei Lih,from_Wu-Mu,from_Yum Yum,from_other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3688,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3689,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [87]:
style_dummy = pd.get_dummies(df["newstyle"], drop_first = True,
                            prefix ="is")
style_dummy

      is_Cup  is_Pack  is_Tray  is_other
0          0        1        0         0
1          1        0        0         0
2          0        1        0         0
3          0        1        0         0
4          1        0        0         0
...      ...      ...      ...       ...
3687       0        0        0         0
3688       0        1        0         0
3689       0        1        0         0
3690       0        1        0         0
3691       0        1        0         0

[3692 rows x 4 columns]

In [88]:
country_dummy = pd.get_dummies(df["newcountry"], drop_first = True,
                            prefix ="in")
country_dummy

,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_Singapore,in_South Korea,in_Taiwan,in_Thailand,in_United States,in_other
0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
3687,0,0,0,0,0,0,0,0,0,1
3688,0,0,0,0,0,0,0,1,0,0
3689,0,0,0,0,0,0,0,1,0,0
3690,0,0,0,0,0,0,0,1,0,0
3691,0,0,0,0,0,0,0,0,1,0

In [89]:
df

,Brand,Variety,Style,Country,Stars,isSpicy,hasChicken,hasBeef,hasSeafood,newBrand,newstyle,newcountry
0,Higashimaru,Seafood Sara Udon,Pack,Japan,5.0,0,0,0,1,other,Pack,Japan
1,Single Grain,Chongqing Spicy & Sour Rice Noodles,Cup,China,3.5,1,0,0,0,other,Cup,China
2,Sau Tao,Seafood Flavour Sichuan Spicy Noodle,Pack,Hong Kong,5.0,1,0,0,1,Sau Tao,Pack,Hong Kong
3,Sau Tao,Jiangnan Style Noodle - Original Flavour,Pack,Hong Kong,4.5,0,0,0,0,Sau Tao,Pack,Hong Kong
4,Sapporo Ichiban,CupStar Shio Ramen,Cup,Japan,3.5,0,0,0,0,Sapporo Ichiban,Cup,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...
3687,Vifon,"Hu Tiu Nam Vang [""Phnom Penh"" style] Asian Sty...",Bowl,Vietnam,3.5,0,0,0,0,Vifon,Bowl,other
3688,Wai Wai,Oriental Style Instant Noodles,Pack,Thailand,1.0,0,0,0,0,Wai Wai,Pack,Thailand
3689,Wai Wai,Tom Yum Shrimp,Pack,Thailand,2.0,1,0,0,1,Wai Wai,Pack,Thailand
3690,Wai Wai,Tom Yum Chili Flavor,Pack,Thailand,2.0,1,0,0,0,Wai Wai,Pack,Thailand
3691,Westbrae,Miso Ramen,Pack,United States,0.5,0,0,0,0,other,Pack,United States

In [90]:
# We need to drop Brand, variety, style and country.

In [91]:
df.columns

Index(['Brand', 'Variety', 'Style', 'Country', 'Stars', 'isSpicy',
       'hasChicken', 'hasBeef', 'hasSeafood', 'newBrand', 'newstyle',
       'newcountry'],
      dtype='object')

In [92]:
df_temp = df.drop(['Brand', 'Variety', 'Style', 'Country','newBrand', 'newstyle',
       'newcountry'], axis =1)
df_temp

      Stars  isSpicy  hasChicken  hasBeef  hasSeafood
0       5.0        0           0        0           1
1       3.5        1           0        0           0
2       5.0        1           0        0           1
3       4.5        0           0        0           0
4       3.5        0           0        0           0
...     ...      ...         ...      ...         ...
3687    3.5        0           0        0           0
3688    1.0        0           0        0           0
3689    2.0        1           0        0           1
3690    2.0        1           0        0           0
3691    0.5        0           0        0           0

[3692 rows x 5 columns]

In [93]:
# We need to combine this with the rest of the dummies we once obtained.

In [94]:
df_final = pd.concat([df_temp,brand_dummy,style_dummy,country_dummy],
                    axis =1 )

In [95]:
df_final

,Stars,isSpicy,hasChicken,hasBeef,hasSeafood,from_Acecook,from_Indomie,from_Itsuki,from_JML,from_KOKA,...,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_Singapore,in_South Korea,in_Taiwan,in_Thailand,in_United States,in_other
0,5.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,3.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5.0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4.5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,3.5,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,3.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3688,1.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3689,2.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3690,2.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3691,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [98]:
df_final.to_csv("The-Big_List_clean_extended_final.csv", index= None)

In [99]:
pd.read_csv("The-Big_List_clean_extended_final.csv")

,Stars,isSpicy,hasChicken,hasBeef,hasSeafood,from_Acecook,from_Indomie,from_Itsuki,from_JML,from_KOKA,...,in_Hong Kong,in_Indonesia,in_Japan,in_Malaysia,in_Singapore,in_South Korea,in_Taiwan,in_Thailand,in_United States,in_other
0,5.0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,3.5,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,5.0,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,4.5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,3.5,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,3.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3688,1.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3689,2.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3690,2.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3691,0.5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

###  Summary

1. Changed low frequency values into "others"
2. Dummified the new columns.
3. Dropped unnecessary columns.
4. Joined everything into a final DataFrame.